/DXR.vcxproj.user
/Debug/DXR.log
/Debug/DXR.tlog/CL.command.1.tlog
/Debug/DXR.tlog/CL.read.1.tlog
/Debug/DXR.tlog/CL.write.1.tlog
/Debug/DXR.tlog/DXR.lastbuildstate
/Debug/DXR.tlog/link.command.1.tlog
/Debug/DXR.tlog/link.read.1.tlog
/Debug/DXR.tlog/link.write.1.tlog
/dxcompiler.dll
/dxil.dll
/x64/Debug/AccelerationStructure.obj
/x64/Debug/CharConvert.obj
/x64/Debug/D3DCreateHelper.obj
/x64/Debug/DXR.log
/x64/Debug/DXR.tlog/CL.command.1.tlog
/x64/Debug/DXR.tlog/CL.read.1.tlog
/x64/Debug/DXR.tlog/CL.write.1.tlog
/x64/Debug/DXR.tlog/DXR.lastbuildstate
/x64/Debug/DXR.tlog/dxc.command.1.tlog
/x64/Debug/DXR.tlog/dxc.read.1.tlog
/x64/Debug/DXR.tlog/dxc.write.1.tlog
/x64/Debug/DXR.tlog/link.command.1.tlog
/x64/Debug/DXR.tlog/link.read.1.tlog
/x64/Debug/DXR.tlog/link.write.1.tlog
/x64/Debug/DirectXCompiler.obj
/x64/Debug/DxilEntryPoints.obj
/x64/Debug/ExportAssociation.obj
/x64/Debug/GameApp.obj
/x64/Debug/HitShaders.obj
/x64/Debug/RTRootSignature.obj
/x64/Debug/ShaderConfig.obj
/x64/Debug/SubObject.obj
/x64/Debug/SubObjectsCreat.obj
/x64/Debug/main.obj
/x64/Debug/vc142.idb
/x64/Debug/vc142.pdb
/x64/Debug/RtPipelineState.obj
/x64/Debug/RtPielineConfig.obj
/x64/Debug/SubObjectsCreate.obj
/x64/Debug/Camera.obj
/x64/Debug/D3DDescriptorHeap.obj
/x64/Debug/D3DHeplerFunction.obj
/x64/Debug/D3DResource.obj
/x64/Debug/DrawObjectCreator.obj
/x64/Debug/DxInput.obj
/x64/Debug/DxilLibrarySubobjects.obj
/x64/Debug/FMDLoader.obj
/x64/Debug/FMDdata.obj
/x64/Debug/FbxStructure.obj
/x64/Debug/GameObject.obj
/x64/Debug/InstanceCreator.obj
/x64/Debug/Math.obj
/x64/Debug/Mathatic.obj
/x64/Debug/RayTraceRenderer.obj
/x64/Debug/RenderResources.obj
/x64/Debug/RootSignatureDescBundle.obj
/x64/Debug/RtPipelineConfig.obj
/x64/Debug/ShaderTable.obj
/x64/Debug/StateConfig.obj
/x64/Debug/Vector.obj
/x64/Debug/shadertable.new.obj.enc
