/DXR.vcxproj.user
/Debug/DXR.log
/Debug/DXR.tlog/CL.command.1.tlog
/Debug/DXR.tlog/CL.read.1.tlog
/Debug/DXR.tlog/CL.write.1.tlog
/Debug/DXR.tlog/DXR.lastbuildstate
/Debug/DXR.tlog/link.command.1.tlog
/Debug/DXR.tlog/link.read.1.tlog
/Debug/DXR.tlog/link.write.1.tlog
/dxcompiler.dll
/dxil.dll
/x64/Debug/AccelerationStructure.obj
/x64/Debug/CharConvert.obj
/x64/Debug/D3DCreateHelper.obj
/x64/Debug/DXR.log
/x64/Debug/DXR.tlog/CL.command.1.tlog
/x64/Debug/DXR.tlog/CL.read.1.tlog
/x64/Debug/DXR.tlog/CL.write.1.tlog
/x64/Debug/DXR.tlog/DXR.lastbuildstate
/x64/Debug/DXR.tlog/dxc.command.1.tlog
/x64/Debug/DXR.tlog/dxc.read.1.tlog
/x64/Debug/DXR.tlog/dxc.write.1.tlog
/x64/Debug/DXR.tlog/link.command.1.tlog
/x64/Debug/DXR.tlog/link.read.1.tlog
/x64/Debug/DXR.tlog/link.write.1.tlog
/x64/Debug/DirectXCompiler.obj
/x64/Debug/DxilEntryPoints.obj
/x64/Debug/ExportAssociation.obj
/x64/Debug/GameApp.obj
/x64/Debug/HitShaders.obj
/x64/Debug/RTRootSignature.obj
/x64/Debug/ShaderConfig.obj
/x64/Debug/SubObject.obj
/x64/Debug/SubObjectsCreat.obj
/x64/Debug/main.obj
/x64/Debug/vc142.idb
/x64/Debug/vc142.pdb
/x64/Debug/RtPipelineState.obj
/x64/Debug/RtPielineConfig.obj
/x64/Debug/SubObjectsCreate.obj
/x64/Debug/Camera.obj
/x64/Debug/D3DDescriptorHeap.obj
/x64/Debug/D3DHeplerFunction.obj
/x64/Debug/D3DResource.obj
/x64/Debug/DrawObjectCreator.obj
/x64/Debug/DxInput.obj
/x64/Debug/DxilLibrarySubobjects.obj
/x64/Debug/FMDLoader.obj
/x64/Debug/FMDdata.obj
/x64/Debug/FbxStructure.obj
/x64/Debug/GameObject.obj
/x64/Debug/InstanceCreator.obj
/x64/Debug/Math.obj
/x64/Debug/Mathatic.obj
/x64/Debug/RayTraceRenderer.obj
/x64/Debug/RenderResources.obj
/x64/Debug/RootSignatureDescBundle.obj
/x64/Debug/RtPipelineConfig.obj
/x64/Debug/ShaderTable.obj
/x64/Debug/StateConfig.obj
/x64/Debug/Vector.obj
/x64/Debug/shadertable.new.obj.enc
/x64/Debug/BishopPiece.obj
/x64/Debug/ChessBoard.obj
/x64/Debug/ChessGame.obj
/x64/Debug/ChessPiece.obj
/x64/Debug/CubeMap.obj
/x64/Debug/DXR.Build.CppClean.log
/x64/Debug/DXR.vcxproj.FileListAbsolute.txt
/x64/Debug/FmdGameObject.obj
/x64/Debug/GameController.obj
/x64/Debug/KingPiece.obj
/x64/Debug/KnightPiece.obj
/x64/Debug/PownPiece.obj
/x64/Debug/QueenPiece.obj
/x64/Debug/RookPiece.obj
/x64/Debug/TextureLoader.obj
/x64/Release/AccelerationStructure.obj
/x64/Release/BishopPiece.obj
/x64/Release/Camera.obj
/x64/Release/CharConvert.obj
/x64/Release/ChessBoard.obj
/x64/Release/ChessGame.obj
/x64/Release/ChessPiece.obj
/x64/Release/D3DCreateHelper.obj
/x64/Release/D3DDescriptorHeap.obj
/x64/Release/D3DHeplerFunction.obj
/x64/Release/D3DResource.obj
/x64/Release/DXR.log
/x64/Release/DXR.tlog/CL.command.1.tlog
/x64/Release/DXR.tlog/CL.read.1.tlog
/x64/Release/DXR.tlog/CL.write.1.tlog
/x64/Release/DXR.tlog/DXR.lastbuildstate
/x64/Release/DXR.tlog/DXR.write.1u.tlog
/x64/Release/DXR.tlog/link.command.1.tlog
/x64/Release/DXR.tlog/link.delete.1.tlog
/x64/Release/DXR.tlog/link.read.1.tlog
/x64/Release/DXR.tlog/link.write.1.tlog
/x64/Release/DirectXCompiler.obj
/x64/Release/DrawObjectCreator.obj
/x64/Release/DxInput.obj
/x64/Release/DxilEntryPoints.obj
/x64/Release/DxilLibrarySubobjects.obj
/x64/Release/ExportAssociation.obj
/x64/Release/FMDLoader.obj
/x64/Release/FMDdata.obj
/x64/Release/FbxStructure.obj
/x64/Release/FmdGameObject.obj
/x64/Release/GameApp.obj
/x64/Release/GameController.obj
/x64/Release/GameObject.obj
/x64/Release/HitShaders.obj
/x64/Release/InstanceCreator.obj
/x64/Release/KingPiece.obj
/x64/Release/KnightPiece.obj
/x64/Release/Mathatic.obj
/x64/Release/PownPiece.obj
/x64/Release/QueenPiece.obj
/x64/Release/RayTraceRenderer.obj
/x64/Release/RenderResources.obj
/x64/Release/RookPiece.obj
/x64/Release/RootSignatureDescBundle.obj
/x64/Release/RtPipelineConfig.obj
/x64/Release/RtPipelineState.obj
/x64/Release/RtRootSignature.obj
/x64/Release/ShaderConfig.obj
/x64/Release/ShaderTable.obj
/x64/Release/StateConfig.obj
/x64/Release/SubObject.obj
/x64/Release/SubObjectsCreate.obj
/x64/Release/main.obj
/x64/Release/vc142.pdb
