/DXR.vcxproj.user
/Debug/DXR.log
/Debug/DXR.tlog/CL.command.1.tlog
/Debug/DXR.tlog/CL.read.1.tlog
/Debug/DXR.tlog/CL.write.1.tlog
/Debug/DXR.tlog/DXR.lastbuildstate
/Debug/DXR.tlog/link.command.1.tlog
/Debug/DXR.tlog/link.read.1.tlog
/Debug/DXR.tlog/link.write.1.tlog
/dxcompiler.dll
/dxil.dll
/x64/Debug/AccelerationStructure.obj
/x64/Debug/CharConvert.obj
/x64/Debug/D3DCreateHelper.obj
/x64/Debug/DXR.log
/x64/Debug/DXR.tlog/CL.command.1.tlog
/x64/Debug/DXR.tlog/CL.read.1.tlog
/x64/Debug/DXR.tlog/CL.write.1.tlog
/x64/Debug/DXR.tlog/DXR.lastbuildstate
/x64/Debug/DXR.tlog/dxc.command.1.tlog
/x64/Debug/DXR.tlog/dxc.read.1.tlog
/x64/Debug/DXR.tlog/dxc.write.1.tlog
/x64/Debug/DXR.tlog/link.command.1.tlog
/x64/Debug/DXR.tlog/link.read.1.tlog
/x64/Debug/DXR.tlog/link.write.1.tlog
/x64/Debug/DirectXCompiler.obj
/x64/Debug/DxilEntryPoints.obj
/x64/Debug/ExportAssociation.obj
/x64/Debug/GameApp.obj
/x64/Debug/HitShaders.obj
/x64/Debug/RTRootSignature.obj
/x64/Debug/ShaderConfig.obj
/x64/Debug/SubObject.obj
/x64/Debug/SubObjectsCreat.obj
/x64/Debug/main.obj
/x64/Debug/vc142.idb
/x64/Debug/vc142.pdb
/x64/Debug/RtPipelineState.obj
/x64/Debug/RtPielineConfig.obj
/x64/Debug/SubObjectsCreate.obj
